extends ../layout

block content
    
   
    - var action = "save"
    - var buttonAction = 'Save'

    h1(class="mt-4") #{title}
    div(class="container-fluid border p-2" style="margin-top : 35px;")
        div(class="row")
            div(class="col-md-8")
                | !{alert}
                form(class="row g-3" action=action method="post" id="formGroupMenu")

                    input(type="hidden" name="groupId" value=groupId)

                    ul(class="list-group")
                        | !{dataMenuList}
                     
                    
                    div(class="mb-3")
                        button(type="submit" class="btn btn-primary float-end") #{buttonAction}
                        a( class="btn btn-primary float-end me-2" href="/group-menu" ) Back
                        button(type="button" class="btn btn-danger float-end me-2" id="discard") Reset
            
            div(class="col-md-4")
                label(class="fw-bold") Notes : 
                p This form group menu is used to set menus in certain groups
              
            