extends ../layout

block content
    
    if 'id_user' in dataUpdate 
        - var action = "update?id="+ dataUpdate.id_user
        - var buttonAction = 'Update'
    else 
        - var action = "save"
        - var buttonAction = 'Save'

    h1(class="mt-4") #{title}
    div(class="container-fluid border p-2" style="margin-top : 35px;")
        div(class="row")
            div(class="col-md-6")
                | !{alert}
                form(class="row g-3" action=action method="post" id="formUser" enctype="multipart/form-data")
                    div(class="col-md-6")
                        div(class="mb-3")
                            label(for="firstName" class="form-label") First Name 
                            input(type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" value=dataUpdate.first_name  )
                                
                        div(class="mb-3")
                            label(for="lastName" class="form-label") Last Name 
                            input(type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" value=dataUpdate.last_name  )

                        div(class="mb-3")
                            label(for="ages" class="form-label") Ages 
                            input(type="text" class="form-control" id="ages" name="ages" placeholder="Ages" value=dataUpdate.ages  )

                        div(class="mb-3")
                            label(for="username" class="form-label") E-mail 
                            input(type="text" class="form-control" id="username" name="username" placeholder="Username" value=dataUpdate.username  )

                        div(class="mb-3")
                            label(for="password" class="form-label") Password 
                            input(type="password" class="form-control" id="password" name="password" placeholder="Password"  )

                        div(class="mb-3")
                            label(for="Photo" class="form-label") Photo
                            input(type="file" class="form-control" id="photo" name="photo"  )

                        
                    div(class="col-md-6")
                        
                        div(class="mb-3")
                            label(for="Group" class="form-label") Group
                            select(class="form-control" id="groupId" name="groupId" )
                                each val, index in groupList
                                    if groupList[index].id_group != 7
                                        option(value=groupList[index].id_group) #{groupList[index].group_name}

                        div(class="mb-3")
                            label(for="Extension" class="form-label") Extension
                            select(class="form-control" id="extensionId" name="extensionId" )
                                each val, index in extList
                                    option(value=extList[index].id_extension) #{extList[index].extension}
 
                        div(class="mb-3")
                            label(for="parentUser" class="form-label") Parent User
                            select(class="form-control" id="parentUser" name="parentUser" )
                                option(value="") ---Select---
                                each val, index in userList
                                    option(value=userList[index].id_user) #{userList[index].first_name} #{userList[index].last_name}

                        div(class="mb-3")
                            label(for="parentUser" class="form-label") Is Agent
                            select(class="form-control" id="isAgent" name="isAgent" )
                                option(value='Y') Yes
                                option(value='N') No

                        div(class="mb-3")
                            button(type="submit" class="btn btn-primary float-end") #{buttonAction}
                            a( class="btn btn-primary float-end me-2" href="/users" ) List
                            button(type="button" class="btn btn-danger float-end me-2" id="discard") Discard
        
            div(class="col-md-6")
                label(class="fw-bold") Notes : 
                p this user form is used to add a new user
                p(class="text-danger") - First Name Mandatory
                p(class="text-danger") - Last Name Mandatory
                p(class="text-danger") - Ages Mandatory
                p(class="text-danger") - Username Mandatory
                p(class="text-danger") - Password Mandatory
                p(class="text-danger") - Group Mandatory
                p(class="text-success") - Photo Optional
                p(class="text-success") - Extension Optional
            