extends ../layout

block content
    h1(class="mt-4") #{title}
    input(id="extension" value=extension type="hidden")
    div(class="container-fluid border p-2" style="margin-top : 35px;")
        div(class="row" id="rowIncoming")
            each val, index in agent_call
                
                - var incomingCall_ = (agent_call[index]['ext'] == '') ? 'incomingCall_'+sess.extension : 'incomingCall_'+ agent_call[index]['ext']
                - var card_ = 'card-' + agent_call[index]['call_number']
                - var phone_book = '/phone-book/add?phone_number='+encodeURIComponent(agent_call[index]['call_number'])
                - var black_list = '/black-list/add?phone_number='+encodeURIComponent(agent_call[index]['call_number'])

                div(class="col-md-2 my-1" id=incomingCall_  card-incoming=card_)
                    div(class="card")
                        div(class="card-header blinking-in")
                            div(class="row")
                                div(class="col-md-10")
                                    i(class="fa fa-phone me-2") 
                                    |  Incoming call
                                div(class="col-md-2 text-end")
                                
                                    i(class=" fa-solid fa-ellipsis-vertical" id="dropdownMenuButton1" style="cursor:pointer;" data-bs-toggle="dropdown" )
                                    ul(class="dropdown-menu" aria-labelledby="dropdownMenuButton1")
                                        li: a(class="dropdown-item" href=phone_book ) Add Phonebook
                                        li: a(class="dropdown-item" href=black_list ) Add Blacklist
                        div(class="card-body")
                            div(class="table-responsive")
                                table( class="table" )   
                                    tr  
                                        td From
                                        td :
                                        td #{agent_call[index]['phone_name']}
                                    tr  
                                        td Phone 
                                        td : 
                                        td #{agent_call[index]['call_number']}
                                    tr  
                                        td Note
                                        td : 
                                        td #{agent_call[index]['notes']}


            //- div(class="col-md-2 my-1")
            //-         div(class="card")
            //-             div(class="card-header blinking-in")
            //-                 div(class="row")
            //-                     div(class="col-md-10")
            //-                         i(class="fa fa-phone me-2") 
            //-                         |  Incoming call
            //-                     div(class="col-md-2 text-end")
                                
            //-                         i(class=" fa-solid fa-ellipsis-vertical" id="dropdownMenuButton1" style="cursor:pointer;" data-bs-toggle="dropdown" )
                                    
            //-                         - var b = "/phone-book/add?phone_number="+encodeURIComponent('+1231313')

            //-                         ul(class="dropdown-menu" aria-labelledby="dropdownMenuButton1")
            //-                             li: a(class="dropdown-item" href=b ) Add Phonebook
            //-             div(class="card-body")
            //-                 table( class="table" )   
            //-                     tr  
            //-                         td From
            //-                         td :
            //-                         td 1231313
            //-                     tr  
            //-                         td Phone 
            //-                         td : 
            //-                         td +1231313
            //-                     tr  
            //-                         td Note
            //-                         td : 
            //-                         td asdfa

           


        